
@import "tailwindcss";

:root{
  width: 100vw;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;

}

/* I set the variables for the color palette */
@theme {
  --color-sf-yellow:oklch(0.89 0.182186 95.3305);
  --color-sf-brown:oklch(0.37 0.1103 31.59);
  --color-sf-red:oklch(0.56 0.2268 29.15);
  --color-sf-bg:oklch(0.99 0 0);
  --font-sf-logo : "Jomhuria", serif;
  --font-Inter: "Inter", sans-serif;
  --tracking-4: 0.05em;
}